.char_container{
    /* background: green; */
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.char{
    /* background: purple; */
    width: 80%;
    height: 75%;
    max-width: 80%;
    max-height: 75%;
}