.char_container{

    width: 400px;
    height: 380px;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.char{
    width: 90%;
}

@media (max-width:500px){

    .char_container{

        width: 100vw;
        height: 280px;
        max-height: 280px;
    }
}