.header{
    /* background: green; */
    padding: 2%;
}
.header>form{
    /* background: red; */
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header>form>input{
    border: none;
    border-radius: 5px;
    margin-left: 1%;
    padding: 1%;
    background: #001E62;
    color: #FFF;
    width: 180px;

}

.seleccion{
    margin: 15px;
    background:  rgb(234, 247, 247);
    border: none;
    border-radius: 5px;
    text-align: center;
    width: 60%;
    padding: 15px;
    font-size: 16px;
    border-bottom: 1px solid lightgrey;
}