.tabla_container{

    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 95%;
    margin: auto;
}

.tabla_container>img{
    width: 280px;
    height: auto;
    margin-bottom: 5%;
}
.tabla_container>h2{
    font-size: 25px;
    color: #001E62;
    margin-bottom: 3%;
}
.tabla{
    width: 100%;
    height: 80%;
    text-align: center;
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

.tabla>thead>tr{
    background: #21325E;
    color: #FFF;
    border-bottom: 2px solid #FFF;
    font-size: 0.8rem;
    
}
.table_row:nth-child(even){
    background: #e6fcd9;
    font-size: 0.8rem;
    overflow:hidden;
}
.table_row:nth-child(odd){
    background: #b0cfc5;
    font-size: 0.8rem;
    
}

.btn{
    background: #21325E;
    border: none;
    width: 160px;
    border-radius: 5px;
    padding: 5px 15px;
    color: #FFF;
    margin-top: 35px;
    align-self: flex-start;
    margin-bottom: 60px;
    transition: 1s;
}
.btn:hover{
    background-color: teal;
}

@media (max-width:620px) {
    .tabla{
        width: 80%;
    }
    .table_row:nth-child(even),.table_row:nth-child(odd){

        font-size: 0.6rem;
        
    }
    .tabla>thead>tr{
    
        font-size: 0.6rem;
    }

}

@media (max-width:500px) {
    .tabla{
        width: 80%;
    }
    .tabla>thead>tr{
    
        font-size: 0.5rem;
    }

    .table_row:nth-child(even),.table_row:nth-child(odd){

        font-size: 0.5rem;
        
    }

}