.container{
    position: relative;
    padding: 1%;
    width: 95%;
    margin: auto;;
}

.container>section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.container>section>article{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4%;
    width: 700px;
    background-color: rgba(225, 238, 241, 0.904);
}
.imagen{
    width: 350px;
    max-width: 30%;
    height: auto;
}

.container>section>article>h2{
    color:#21325E;
    width: 60%;
    text-align: center;
    font-size: 2.6rem;
    
}
.container>section>article>p{
    width: 90%;
    text-align: justify;
    font-size: 1.2rem;
    color: rgb(111, 121, 131);  
}

.valores_fondo{
    width: 90%;
}

.categoria{
    width: 90%;
    color: rgb(111, 121, 131);
    font-size: 13px;
    font-weight: 300;  
}
.categoria_valor{
    color: teal;
    font-size: 14px;
    font-weight: 600;
}

.container>section>img{
    border-radius: 10px;
    width: 40%;
    height: 80vh;
    
}

.logo{
    /* position:absolute; */
    width: 15%;
    
}
.capital_disponible{
    color: rgba(35, 197, 102, 0.918);
    font-size: 16px;
}

.capital_no_disponible{
    color: rgba(255, 0, 0, 0.671);
    font-size: 16px;
}

.btn{
    width: 130px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    background:#21325E;
    color: #FFF;
    transition: 1s;
}
.btn:hover{
    background: teal;

}

@media (max-width:1000px){

    .imagen{
        display: none;
    }
}

@media (max-width:500px){
    .logo{
        width: 25%;
    }
    .container>section>article>h2{
        font-size: 1.8rem;   
        width: 85%;
    }
    .container>section>article>p{
        font-size: 0.9rem;
    }
    .capital_disponible{
        font-size: 1rem;
        width: 70%;
        text-align: center;
    }
    
    .capital_no_disponible{
        font-size: 0.8rem;
        width: 70%;
        text-align: center;
    }
    .categoria{

        width: 100%;
        text-align: center;
    }

}