*{
    padding: 0;
    margin: 0;
    font-family: "poppins";
}
.my_app{
    padding: 2%;
}

.my_app>img{
    width: 40%;
    height: auto;
}

.my_app>hr{
    padding: 0;
    border: 0.01em solid rgba(240, 224, 224, 0.897);
}

.my_app>h2{
    width: 100%;
    text-align: center;
    color: #001E63;
    margin-top: 60px;
    margin-bottom: 60px;
}

.my_app>h3{
    width: 100%;
    text-align: center;
    color: #001E63;
    font-size: 16px;
    margin-top: 60px;
    margin-bottom: 60px;

}

.monto{
    color: teal;
    font-size: 18px;

}
.tabla_grafica{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;

}

.my_app>p{
    text-align: center;
    color: rgb(104, 112, 119);
    margin-bottom: 15px;
}

